<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Películas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>


  
  <div *ngFor="let pelicula of favoritoGenero">
    
    <ion-grid *ngIf="pelicula.pelis.length > 0"> <!--va a mostrar este elemento solo si hay peliculas en ese genero-->
      <ion-row>
        <ion-col>
          <h4>{{pelicula.genero}}</h4>
          </ion-col>
        
        </ion-row>
        <app-slideshow-poster [peliculas]="pelicula.pelis"></app-slideshow-poster>  <!--ese peliculas lo voy a tener que leer de favoritos-->
      </ion-grid>
</div>

</ion-content>
